<div class="min-h-full">
    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <ul class="flex justify-center space-x-4">
          <li><a href="#" class="hover:underline">Category</a></li>
          <li><a href="#" class="hover:underline">Category</a></li>
          <li><a href="#" class="hover:underline">Category</a></li>
          <li><a href="#" class="hover:underline">Category</a></li>
          <li><a href="#" class="hover:underline">Category</a></li>
          <li><a href="#" class="hover:underline">Category</a></li>
        </ul>
      </div>
    </header>
    <main>
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h2 class="text-2xl mb-4">New items on Marketplace</h2>
        <div *ngIf='this.items' class="flex flex-wrap space-x-10">
          <div *ngFor='let item of this.items' class="w-60">
            <a [routerLink]="['itm', item._id]" [ngClass]="item.is_purchased?'disabled ':''" class="hover:underline relative">
              <div [ngClass]="item.is_purchased?'absolute h-full w-full bg-black opacity-50':''"></div>
              <img src="{{item.image_url}}" alt="">
              <div class="mt-2">{{item.name}}</div>
              <div class="mt-2">{{item.price}}</div>
            </a>
          </div>
        </div>
      </div>
    </main>
  </div>
