<div class="min-h-full">
    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <ul class="flex justify-center space-x-4">
          <li><a href="#" class="hover:underline">Category</a></li>
          <li><a href="#" class="hover:underline">Category</a></li>
          <li><a href="#" class="hover:underline">Category</a></li>
          <li><a href="#" class="hover:underline">Category</a></li>
          <li><a href="#" class="hover:underline">Category</a></li>
          <li><a href="#" class="hover:underline">Category</a></li>
        </ul>
      </div>
    </header>
    <main>
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h2 class="text-2xl mb-4">Trending on Marketplace</h2>
        <div class="flex flex-wrap justify-between">
          <div *ngFor='let item of this.items | async' class="w-60">
            <a href="{{item._id}}" class="hover:underline">
              <img src="{{item.image_url}}" alt="">
              <div class="mt-2">{{item.name}}</div>
              <div class="mt-2">{{item.price}}</div>
            </a>
          </div>
        </div>
      </div>
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h2 class="text-2xl mb-4">New added items</h2>
        <div class="flex flex-wrap justify-between">
          <div class="w-60">
            <a href="#" class="hover:underline">
              <img src="assets/placeholder.jpeg" alt="">
              <div class="mt-2">ProductA</div>
              <div class="mt-2">Price</div>
            </a>
          </div>
          <div class="w-60">
            <a href="#" class="hover:underline">
              <img src="assets/placeholder.jpeg" alt="">
              <div class="mt-2">ProductA</div>
              <div class="mt-2">Price</div>
            </a>
          </div>
          <div class="w-60">
            <a href="#" class="hover:underline">
              <img src="assets/placeholder.jpeg" alt="">
              <div class="mt-2">ProductA</div>
              <div class="mt-2">Price</div>
            </a>
          </div>
          <div class="w-60">
            <a href="#" class="hover:underline">
              <img src="assets/placeholder.jpeg" alt="">
              <div class="mt-2">ProductA</div>
              <div class="mt-2">Price</div>
            </a>
          </div>
        </div>
      </div>
    </main>
  </div>
