<div class="min-h-full">
    <app-header></app-header>
    <main>
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <div *ngIf="this.item" class="flex gap-10 bg-white rounded-lg shadow p-10">
                <div class="w-3/5 relative">
                    <div [ngClass]="item.is_purchased?'absolute h-full w-full flex justify-center items-center':'hidden'">
                        <span class="absolute z-10 text-white text-4xl -rotate-12">Sold out</span>
                        <div class="h-full w-full bg-black opacity-50"></div>
                    </div>
                    <figure class="">
                        <img class="w-full" src="{{this.item.image_url}}" alt="">
                    </figure>
                </div>
                <div class="w-2/5">
                    <div class="">
                        <div class="mb-5 pb-5 border-b">
                            <h1 class="text-2xl">{{this.item.name}}</h1>
                        </div>
                        <div class="mb-2">
                            <dl class="flex justify-between">
                                <dt>Price: </dt>
                                <dd class="font-bold text-xl">{{this.item.price}} HUF</dd>
                            </dl>
                        </div>
                        <div class="mb-2">
                            <dl class="flex justify-between">
                                <dt>Seller: </dt>
                                <dd>{{this.item.seller.username}}</dd>
                            </dl>
                        </div>
                        <div class="mb-10">
                            <dl class="">
                                <dt class="mb-2">Description: </dt>
                                <dd>{{this.item.description}}</dd>
                            </dl>
                        </div>
                        <ng-container *ngIf="!this.item.is_purchased && user.user_id != this.item.seller._id">
                            <button [routerLink]="['purchase']" class="mb-2 bg-blue-600 text-white block w-full rounded-full p-2 hover:underline">Buy it now</button>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
